<div class="email-modal-launcher">
  <button type="button" class="mail theme-transparent ng-click-active" ng-click="main.toggleEmailModal()">
    Email this list to
  </button>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-class="main.showEmailModal ? 'in' : ''">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p>Please enter your email address</p>
      <form name="emailForm" ng-submit="sendSubmitter()" class="email-form row">
        <div class="col-xs-8">
          <input type="email" ng-model="email" required="required" class="input-field-email" />
        </div>
        <div class="col-xs-4">
          <input type="submit" class="button button-wide button-send-email" value="Send"/>
        </div>
      </form>
      <div class="messages email-notif status">
        <p>Email has been sent! Please check your inbox.</p>
      </div>
    </div>
  </div>
  <div class="modal-bg" ng-click="main.toggleEmailModal()"></div>
</div>

<div ng-cloak ng-repeat="answer in main.answers track by answer.nid">
  <span ng-if="answer.displayheader != ''">
    <button class="answer-header button-wide" ng-if="answer.newcategory" ng-class="{true: 'answer-closed', false: 'answer-open'}[!this.answerstatus]" ng-click="this.answerstatus = !this.answerstatus">
      {{answer.displayheader}}
    </button>
    <div ng-bind-html="answer.answer | addTargetBlank" ng-if="answer.newcategory"></div>
  </span>
  <span ng-if="answer.displayheader == ''">
    <div ng-bind-html="answer.answer | addTargetBlank" ng-if="answer.newcategory"></div>
  </span>
</div>
<div>
  <button class="reset theme-transparent" ng-click="main.reset()">Back to start</button>
</div>
