/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@font-face {
  font-family: 'hy-icons';
  src: url('../fonts/hy-icons_5.0.4.eot');
  src: url('../fonts/hy-icons_5.0.4.eot?#iefix') format('eot'), url('../fonts/hy-icons_5.0.4.woff') format('woff'), url('../fonts/hy-icons_5.0.4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Lora-700italic.eot");
  src: url("../fonts/Lora-700italic.eot?#iefix") format("embedded-opentype"), local("Lora Bold Italic"), local("Lora-700italic"), url("../fonts/Lora-700italic.woff2") format("woff2"), url("../fonts/Lora-700italic.woff") format("woff"), url("../fonts/Lora-700italic.ttf") format("truetype"), url("../fonts/Lora-700italic.svg#Lora") format("svg");
}

$gray: #979797;

.hy {
  display: inline-block;
  font-family: "hy-icons";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
     box-sizing: border-box;
  }
}

.hy-2x { font-size: 2em; }
.hy-3x { font-size: 3em; }
.hy-4x { font-size: 4em; }
.hy-5x { font-size: 5em; }

.hy-hy-logo:before { content: "\EA17" }
.hy-link-arrow:before { content: "\EA1B" }
.hy-hy-info:before { content: "\EA19"; }
.hy-hy-plus:before { content: "\EA2F"; }
.hy-rotate-right:before { content: "\EA34"; }
.hy-done:before { content: "\EA0B"; }
.hy-mail:before { content: "\EA3F"; }
.hy-minus:before { content: "\EA24"; }

.lora {
  font-family: 'Lora', Georgia, serif;
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: #222;
  font-family: "Open Sans", sans-serif;
}

.main-content {
  background-color: white;
  padding-bottom: 3rem;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.select-area {
  position: relative;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

header {
  background-color: #222;
  color: white;
  padding: .5em;
  text-transform: uppercase;

  .brand-logo {
    @extend .hy;
    @extend .hy-2x;
    @extend .hy-hy-logo;
    float: left;
    margin-right: .5em;

    &:before {
      font-size: 44px;
      position: absolute;
      top: 0;
      line-height: 60px;
    }
  }

  .brand-title {
    color: white;
    display: block;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    padding-left: 55px;
    letter-spacing: -.05em;
    font-weight: bold;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: white;
      text-decoration: underline;
    }
  }
}

@media (min-width: 48em) {
  header {
    .brand-title {
      font-size: 17px;
      height: 56px;
      line-height: 56px;
      padding-left: 65px;
    }

    .brand-logo:before {
      font-size: 54px;
      line-height: 70px;
    }
  }
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.info-area {
  > div {
    position: absolute;
    border: 1px solid black;
    top: 65px;
    right: 30px;
    left: 30px;
    padding: 1em 1em 3em;
    z-index: 1;
    background-color: white;
  }

  + h1 {
    padding-right: 2em;
  }

  .toggle-info {
    position: absolute;
    right: 15px;
    font-size: 36px;
    line-height: 1.1em;
  }
}

button,
.button {
  background-color: #178feb;
  color: white;
  border: 0;
  font-size: 1.2em;
  margin-bottom: .5rem;
  outline: none;
  padding: 1.5rem 7.2rem 1.5rem 2rem;
  position: relative;

  &.button-wide {
    text-align: left;
    width: 100%;
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5.2rem;
    text-align: center;
    padding-top: 1.4rem;
  }

  &:before {
    @extend .hy;
    content: "\EA1B";
    z-index: 1;
  }

  &:after {
    content: "";
    display: block;
    background-color: #1073bf;
  }

  &.button-back:before {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: #0c5790;

    &:after {
      background-color: #083a61;
    }
  }

  &.answer-header {
    //background-color: white;
    //border: 1px solid #178feb;
    //color: #178feb;

    &:after {
      //display: none;
    }
  }

  &.reset {
    &:before { content: "\EA34"; }
  }

  &.theme-transparent {
    background-color: transparent;
    color: #178feb;
    padding-right: 4rem;
    padding-left: 0rem;

    &:before {
      width: 3rem;
      padding-top: 1.6rem;
    }

    &:after {
      content: none;
    }
  }

  &.mail {
    @extend .hy-mail;
  }
}

.answer-closed {
  @extend .hide-answer;
}

.answer-open {
  @extend .show-answer;
}

answerarea div:first-of-type {
  .answer-closed {
    @extend .show-answer;
  }

  .answer-open {
    @extend .hide-answer;
  }
}

.hide-answer {
  &:before {
    content: "\EA2F";
  }
  + div {
    display: none;
  }
}

.show-answer {
  &:before {
    content: "\EA24";
  }
  + div {
    display: block;
  }
}

.prompt {
  @extend .lora;
  color: $gray;
}


disclaimerarea header {
  height: 53px;
  line-height: 39px;
  text-align: center;
}

.disclaimer-area {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.modal-bg {
  background-color: rgba(0,0,0,.2);
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.modal-dialog {
  z-index: 2;
  top: 50%;
  position: fixed;
  margin-top: -120px;
  left: 0;
  right: 0;
}
@media (min-width: 608px) {
  .modal-dialog {
    left: 50%;
    margin-left: -300px;
  }
}
.modal-content {
  border-radius: 0;
  padding: 3em;
  text-align: center;
}
.modal.in {
  display: block;
}

.email-form {
  .input-field-email {
    width: 100%;
    font-size: 1.2em;
    outline: 0;
    padding: 1.5rem 2rem 1.5rem 2rem;
    position: relative;
  }

  .button-send-email {
    border: 2px solid #178feb;
    margin-bottom: 0;

    &:hover {
      border-color: #0c5790;
    }
  }
}

.messages {
  font-size: 10.5px;
  font-size: 12px;
  text-align: center;
  padding: 1.3em 0;

  &.email-notif {
    display: none;
  }
}

.ng-submitted + .messages.email-notif {
  display: block;
}

.messages.status {
  background-color: #b2e576;
  color: #222;
  margin-top: 15px;
  
  p {
    @extend .hy;
    @extend .hy-done;

    margin-bottom: 4px;

    &:before {
      margin-right: .5em;
      bottom: -1px;
      position: relative;
    }
  }
}

.progress-area-container {
  margin-top: 1em;

  > div {
    background-color: #b2e576;
    color: #222;
    padding-bottom: .5rem;
  }
}

progressarea {
  > div {
    margin-bottom: .5rem;
    padding: .5rem 2rem;
  }
}

.progress-title {
  padding: 1rem 2rem 0;
}

.progress-title,
.progress-question {
  font-weight: bold;
  text-transform: uppercase;
}

.progress-item {
  font-size: .8em;
}

@media (min-width: 1024px) {
  progressarea {
    display: flex;
    flex-flow: row;

    > div {
      padding: 1rem 2rem .5rem;
    }
  }
}


//footer
footer {
  background-color: #222;
  color: white;
  overflow: hidden;
  padding: 3em 0 10px 0;
  text-align: center;

  .l-region {
    @extend .container;

    &:before,
    &:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden;
    }
  }

  .logo {
    float: left;
    display: none;
    margin-top: 2px;
    width: 100px;

    @media (min-width: 62.5em) {
      display: block;
      margin-right: .5em;
    }

    @media (min-width: 75em) {
      margin-right: 1.5em;
    }

    .site-logo:before {
      font-size: 100px;
      line-height: 95px;
    }
  }
  .site-logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:before {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      color: #fff;
      content: "\e603";
      float: left;
      font-family: "icomoon";
      font-size: 54px;
      line-height: 46px;
    }
  }
  
  .contact {
    h4 {
      font-size: 16px;
      color: white;
      text-align: center;
    }

    p {
      color: white;
      margin: 0 0 30px 0;
      letter-spacing: .01em;
      font-size: 14px;
      line-height: 1.2em;
    }

    a {
      color: white;

      &:hover,
      &:focus,
      &:active {
        color: inherit;
        text-decoration: none;
      }
    }

    @media (min-width: 48em) {
      float: left;

      h4,
      p {
        text-align: left;
      }
    }
  }

  .copyright {
    margin: 0 auto;
    max-width: 75em;
    padding: 0 1em;

    p {
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      color: #777;
      line-height: 1.5em;
      color: #ebebeb;
      font-weight: 500;
      padding: 16px 0;
      text-align: center;

      @media (min-width: 48em) {
        padding: 0 30px 16px 20px;
        text-align: left;
        margin-top: -50px;
        width: 33.33333%;
        clear: right;
        float: right;
      }
    }
  }
}

.footer-block {
  &.footer-block-1 {
    border-bottom: 1px solid #151515;
    padding-top: 2.2em;
    position: relative;
  }
  &.footer-block-2 {
    padding-top: 1.6em;
  }
  &.footer-block-3 {
    border-bottom: 1px solid #151515;
    padding-top: 2.3em;
    text-align: center;
  }
  &.addthis .some {
    font-size: 28px;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    background-color: #547bb9;
    color: white;
    display: inline-block;
    line-height: 50px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-left: 2px;
    text-align: center;
    width: 50px;
  }
  @media (min-width: 48em) {
    &.footer-block-1 {
      border: 0 none;
      padding-bottom: 0;
    }
    &.footer-block-2 {
      width: 31.42857%;
      float: left;
      margin-right: -100%;
      margin-left: 34.28571%;
      clear: none;
    }

    &.footer-block-3 {
      width: 31.42857%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      border-bottom: 0 none;
      text-align: left;
    }

    &.addthis .some {
      margin-right: 2px;
      width: 40px;
      line-height: 40px;
      font-size: 22px;

      &:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: "icomoon";
        content: "\f09a";
      }

      &.twitter {
       background-color: #5ea9dd;

        &:before {
          content: "\f099";
        }
      }

      &.youtube {
        background-color: #e6644a;

        &:before {
          content: "\f167";
        }
      }

      &.linkedin {
        background-color: #1483c4;

        &:before {
          content: "\f0e1";
        }
      }

      &.instagram {
        background-color: #125688;

        &:before {
          content: "\f16d";
        }
      }
    }
  }

  @media (min-width: 62.5em) {
    &.addthis .some {
      margin-right: 8px;
      width: 50px;
      line-height: 50px;
      font-size: 25px;
    }
  }

  @media (min-width: 75em) {
    &.addthis .some {
      font-size: 28px;
      margin-right: 15px;
    }
  }
}

.list-of-links--condensed, .list-of-links {
  display: block;
  margin-bottom: 30px;
  text-align: left;
}

.list-of-links--condensed {
  margin-bottom: 1em;
}

a.list-of-links__link,
.list-of-links__link > a {
  font-family: 'Open Sans',Helvetica,Arial,sans-serif,Nimbus Sans L;
  font-size: 15px;
  display: block;
  line-height: normal;
  overflow: hidden;
  padding-bottom: .8em;
  padding-left: 0;
  padding-top: .8em;
  position: relative;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 2px;

  &:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "hy-icons";
    content: "\EA1B";
    color: inherit;
    font-weight: 200;
    height: 100%;
    margin-left: 1em;
    float: right;
  }

  &:hover {
    color: #ccc;
    text-decoration: none;
  }
}

.theme-footer,
.theme-info-footer {
  a.list-of-links__link,
  a.list-of-links__link,
  .list-of-links__link > a,
  .list-of-links__link > a {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif,Nimbus Sans L;
    font-size: 15px;
    display: block;
    line-height: normal;
    overflow: hidden;
    padding-bottom: .8em;
    padding-left: 0;
    padding-top: .8em;
    position: relative;
    border-bottom: 1px solid #ebebeb;
    border-bottom-color: #ccc;
    color: #5c5c5c;
  }
}

.theme-footer {
  a.list-of-links__link,
  .list-of-links__link > a {
    border-bottom-color: black;
    color: white;
  }
}

.list-of-links--condensed {
  a.list-of-links__link,
  .list-of-links__link > a {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding-top: .8em;
    padding-bottom: .8em;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
