<div class="intro container" ng-show="!main.inProgress">
  <introarea/>
</div>

<div class="progress-area-container container" ng-show="main.showProgress">
  <div>
    <div class="progress-title">Your selections:</div>
    <progressarea/>
  </div>
</div>

<div class="select-area container" ng-show="!main.showAnswers">
  <selectarea/>
</div>

<div class="answer-area container" ng-show="main.showAnswers">
  <div ng-if="main.answerintro">
    <h1 ng-bind-html="main.answerintro.title"></h1>
    <div ng-bind-html="main.answerintro.body"></div>
  </div>
  <answerarea/>
</div>

<div class="disclaimer-area" ng-show="main.showDisclaimer">
  <disclaimerarea/>
</div>

<footer ng-if="main.disclaimer">
  <span class="prompt prompt-clickable" ng-click="main.toggleDisclaimer()">Legal disclaimer</span>
</footer>
